<h1 class="mb-4">Transaction Details</h1>
<div class="card">
  <div class="card-header">
    <h3>Transaction Details</h3>
  </div>
  <div class="card-body">
    <h5>Title: <%= book.title %></h5>
    <p>Author: <%= book.author %></p>
    <% if (checkoutType === 'checkOut') { %>
    <p>Checked Out By: <%= user.username %></p>
    <% } else if (checkoutType === 'checkIn') { %>
    <p>Checked In By: <%= user.username %></p>
    <% } %>
    <!-- Add more details as needed -->

    <form action="/api/user/books/view" method="GET">
      <button type="submit" class="btn btn-secondary">Go Back</button>
    </form>
  </div>
</div>
